# Ignore node_modules in frontend and backend
frontend/node_modules/
Backend-obfuscated/node_modules/

# Ignore environment files
*.env
Backend-obfuscated/config/config.env
# Ignore database files (if applicable)
*.sqlite

# Ignore logs
*.log
logs/

# Ignore build output
dist/
build/
